@model Entities.Models.Supplier

@{
    ViewData["Title"] = "Details";
    //Layout =   Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
    Layout = "~/Views/Shared/Uniform.cshtml";
}


<html>
<head>
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/assets/img/favicon.png">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/assets/demo/demo.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/assets/demo/demo.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    @*<link href="~/assets/demo/demo.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@



</head>
<body>
    <div class="content">

        <div class="container-fluid">
            <div style="font-family:'Times New Roman'">
                <h4>Supplier Details</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SupplierName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SupplierName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LegalName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LegalName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.RegistrationNo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.RegistrationNo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Vatregistered)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Vatregistered)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.VatregistrationNo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.VatregistrationNo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Bbbeeid)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Bbbeeid)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Currency)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Currency)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PaymentTermId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PaymentTermId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.StreetName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.StreetName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.BuildingName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.BuildingName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Surburb)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Surburb)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PostalCode)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PostalCode)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ContactPersonName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ContactPersonName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ContactPersonSurname)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ContactPersonSurname)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ContactPersonPosition)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ContactPersonPosition)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ContactPersonTelephone)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ContactPersonTelephone)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ContactPersonFax)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ContactPersonFax)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ContactPersonCell)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ContactPersonCell)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ContactPersonEmail)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ContactPersonEmail)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.QuotationContact)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.QuotationContact)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.City)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.City.CityName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Classification)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Classification.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Country)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Country.CountryName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Municipality)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Municipality.MunicipalityAddress)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PaymentMethod)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PaymentMethod.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Province)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Province.ProvinceName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Ward)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Ward.WardName)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Index">Back to List</a>|
                <a asp-controller="Email" asp-action="SendEmail">Request for Quotation</a>

            </div>
        </div>
    </div>
</body>
</html>

