@model IEnumerable<Entities.Models.Supplier>


@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>SearchAsync</h1>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/assets/img/favicon.png">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/assets/demo/demo.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/assets/demo/demo.css" rel="stylesheet" />
</head>
<body>

    <div class="content">
        <div class="container-fluid">
           

            <div class="row">


                <div class="col-md-12">
                    <div class="card" style="font-family:'Times New Roman'">
                        <div class="card-header card-header-primary" style="background-color: #e0f0ff">
                            <h4 class="card-title">Supplier</h4>

                        </div>
                        <div class="card-body">
                        <form method="post" asp-controller="Supplier" asp-action="RequisitionToSupplier">
                            <div class="input-group">
                                <input id="searchTerm" class="form-control" type="text" name="searchTerm">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </form>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.SupplierName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.LegalName)
                                            </th>

                                            <th>
                                                @Html.DisplayNameFor(model => model.Country)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Province)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.City)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SupplierName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.LegalName)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Country.CountryName)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Province.ProvinceName)
                                                </td>


                                                <td>
                                                    @Html.DisplayFor(modelItem => item.City.CityName)
                                                </td>
                                                <td>
                                                    @*<a asp-action="Details" asp-route-id="@item.SupplierId">Details</a>*@
                                                    <a asp-action="SupplierSearchDetails" asp-route-id="@item.SupplierId">Details</a>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>


