@model Entities.Models.Requisition

@{
   
    Layout =   Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div style="font-family:'Times New Roman'">
    <h4>Requisition Details</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequisitionNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequisitionNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequisitionTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequisitionTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Motivation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Motivation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QueriesName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QueriesName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QueriesPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QueriesPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QueriesEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QueriesEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SiteVisitRequired)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SiteVisitRequired)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AttachmentPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AttachmentPath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AttachmentDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AttachmentDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OverwriteExistingAttachment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OverwriteExistingAttachment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AttachmentVisibleToSupplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AttachmentVisibleToSupplier)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovalException)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApprovalException)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsComplete)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceItem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceItem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnitOfMeasure)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnitOfMeasure)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Glaccount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Glaccount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DetailedDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetailedDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vattotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vattotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpectedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City.CityName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Classification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Classification.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Commodity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Commodity.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractType.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DemandPlan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DemandPlan.Item)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequisitionType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequisitionType.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShippingMethod.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="GetUserSavedRequisitions">Back to List</a>|
    <a asp-action="Edit" asp-route-id="@Model.RequisitionId" class="fa fa-pencil-square-o" aria-hidden="true">Edit</a> 

</div>
